.Users {
  width: 250px;
  height: 100%;
  overflow-y: auto;
  background: linear-gradient(to bottom, #abd256, #ffffff);
}

.Users__ListItem {
  color: #ffffff;
  padding: 7px;
  text-align: center;
  font-weight: 900;
}

.Users__ListItem-title {
  text-decoration: underline;
  cursor: pointer;
}
.Users__ListItem-count {
  padding: 0 5px;
}